.img-container {
  height: auto;
}

.img-resp {
  max-width: 100% !important;
  height: 11rem;
  object-fit: cover;
}
.cardImg {
  box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.37);
}
.cardImg:hover {
  animation: hoverIMG 1s ease 0s 0.5 normal forwards;
}

@keyframes hoverIMG {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    transform: scale(1.1);
  }
}
